---

---

<section id="contact-569">
    <div class="cs-container">
        <div class="cs-left">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Request A Quote</h2>
                <p class="cs-text">
                    Pellentesque sit amet porttitor eget dolor morbi non arcu. Vitae justo eget magna fermentum iaculis eu non
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-569" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-569" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="text" id="phone-569" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="text" id="email-569" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-569" name="heat" placeholder="How did you hear about us?">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-569" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-submit" type="submit">Send Now</button>
            </form>
        </div>
        <div class="cs-right">
            <!--Address-->
            <div class="cs-flex">
                <span class="cs-header">Our Location</span>
                <a href="" class="cs-link">123 Fake Mill Creek<br> Bark, USA 98082</a>
            </div>
            <!--Contacts-->
            <div class="cs-flex">
                <span class="cs-header">Quick Contacts</span>
                <a href="" class="cs-link">info@email.com</a>
                <a href="tel:555-689-9566" class="cs-link cs-phone">+1 (555) 686-9566</a>
            </div>
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit twitter">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/twitter-gold.svg" alt="icon" width="18" height="15" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit facebook">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/facebook-gold.svg" alt="icon" width="10" height="15" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit linkedin">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/linkedin-gold.svg" alt="icon" width="16" height="15" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit youtube">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/youtube-gold.svg" alt="icon" width="21" height="15" decoding="async" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-569 {
        padding: var(--sectionPadding);
        background-color: #fafbfc;
        position: relative;
        z-index: 1;
    }
    #contact-569 .cs-container {
        width: 100%;
        /* changes to 1064px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }
    #contact-569 .cs-left {
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }
    #contact-569 .cs-content {
        /* set text aling to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #contact-569 .cs-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }
    #contact-569 .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact-569 .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 2.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #fff;
        border: 1px solid #e0e0e0;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
        transition: border-color 0.3s;
    }
    #contact-569 .cs-input:hover {
        border-color: var(--secondary);
    }
    #contact-569 .cs-input:focus {
        outline: 1px solid var(--secondary);
    }
    #contact-569 .cs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
        font-size: 0.875rem;
    }
    #contact-569 .cs-textarea {
        /* 120px - 140px */
        min-height: clamp(7.5rem, 28vw, 8.75rem);
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }
    #contact-569 .cs-submit {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.6vw, 1.5625rem);
        /* 56px - 70px */
        line-height: clamp(3.5rem, 7vw, 4.375rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #1a1a1a;
        border: none;
        width: 100%;
        padding: 0 1.5rem;
        background-color: var(--secondary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #contact-569 .cs-submit:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #contact-569 .cs-submit:hover {
        color: #fff;
        cursor: pointer;
    }
    #contact-569 .cs-submit:hover:before {
        width: 100%;
    }
    #contact-569 .cs-right {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 3rem;
    }
    #contact-569 .cs-flex {
        /* resets to 100% at desktop */
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    #contact-569 .cs-header {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }
    #contact-569 .cs-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.4vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }
    #contact-569 .cs-link:hover {
        text-decoration: underline;
    }
    #contact-569 .cs-phone {
        /* scoot it 8px up to override the 16px gap on the parent and make it 8px */
        margin-top: -0.5rem;
    }
    #contact-569 .cs-social {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 24px - 30px */
        gap: clamp(1.5rem, 3vw, 1.875rem);
    }
    #contact-569 .cs-li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #contact-569 .cs-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid var(--secondary);
        border-radius: 50%;
        transition:
            background-color 0.3s,
            transform 0.3s;
    }
    #contact-569 .cs-social-link:hover {
        background-color: var(--secondary);
        transform: translateY(-0.25rem);
    }
    #contact-569 .cs-social-link:hover .cs-icon {
        /* turn icon white */
        filter: grayscale(1) brightness(1000%);
    }
    #contact-569 .cs-icon {
        width: auto;
        height: 0.9375rem;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact-569 .cs-label {
        width: 48.4%;
    }
    #contact-569 .cs-message {
        width: 100%;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-569 .cs-container {
        max-width: 66.5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    #contact-569 .cs-left {
        width: 60%;
    }
    #contact-569 .cs-submit {
        width: 15rem;
    }
    #contact-569 .cs-right {
        width: 19rem;
        flex-direction: column;
        /* prevent flexbox from squishing it */
        flex: none;
    }
    #contact-569 .cs-flex {
        width: 100%;
    }
    #contact-569 .cs-social {
        /* adds an extra 16px + 48px row gap on the parent to make 64px space between */
        margin-top: 1rem;
    }
}

                                
</style>